{:highlights [{:id #uuid "652aec1d-60a4-4a24-8642-780c7c6971bc",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 14,
                                     :x2 705.09375,
                                     :y2 849.859375,
                                     :width 800.0000000000001,
                                     :height 1131.3848014513203},
                          :rects ({:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 34,
                                   :width 800.0000000000001,
                                   :height 1131.3848014513203}
                                  {:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 50,
                                   :width 800.0000000000001,
                                   :height 1131.3848014513203}
                                  {:x1 0,
                                   :y1 46,
                                   :x2 0,
                                   :y2 66,
                                   :width 800.0000000000001,
                                   :height 1131.3848014513203}
                                  {:x1 0,
                                   :y1 62,
                                   :x2 0,
                                   :y2 82,
                                   :width 800.0000000000001,
                                   :height 1131.3848014513203}
                                  {:x1 0,
                                   :y1 78,
                                   :x2 0,
                                   :y2 98,
                                   :width 800.0000000000001,
                                   :height 1131.3848014513203}
                                  {:x1 0,
                                   :y1 94,
                                   :x2 0,
                                   :y2 114,
                                   :width 800.0000000000001,
                                   :height 1131.3848014513203}
                                  {:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 130,
                                   :width 800.0000000000001,
                                   :height 1131.3848014513203}
                                  {:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 146,
                                   :width 800.0000000000001,
                                   :height 1131.3848014513203}
                                  {:x1 0,
                                   :y1 142,
                                   :x2 0,
                                   :y2 162,
                                   :width 800.0000000000001,
                                   :height 1131.3848014513203}
                                  {:x1 237.546875,
                                   :y1 680.796875,
                                   :x2 704.740478515625,
                                   :y2 696.796875,
                                   :width 800.0000000000001,
                                   :height 1131.3848014513203}
                                  {:x1 95.328125,
                                   :y1 697.71875,
                                   :x2 704.576904296875,
                                   :y2 713.71875,
                                   :width 800.0000000000001,
                                   :height 1131.3848014513203}
                                  {:x1 95.328125,
                                   :y1 714.8125,
                                   :x2 704.5093994140625,
                                   :y2 730.8125,
                                   :width 800.0000000000001,
                                   :height 1131.3848014513203}
                                  {:x1 95.328125,
                                   :y1 731.75,
                                   :x2 704.94384765625,
                                   :y2 747.75,
                                   :width 800.0000000000001,
                                   :height 1131.3848014513203}
                                  {:x1 95.328125,
                                   :y1 748.6875,
                                   :x2 704.63134765625,
                                   :y2 764.6875,
                                   :width 800.0000000000001,
                                   :height 1131.3848014513203}
                                  {:x1 95.328125,
                                   :y1 765.8125,
                                   :x2 705.078125,
                                   :y2 781.8125,
                                   :width 800.0000000000001,
                                   :height 1131.3848014513203}
                                  {:x1 95.328125,
                                   :y1 782.75,
                                   :x2 705.09375,
                                   :y2 798.75,
                                   :width 800.0000000000001,
                                   :height 1131.3848014513203}
                                  {:x1 95.328125,
                                   :y1 799.84375,
                                   :x2 704.5618286132812,
                                   :y2 815.84375,
                                   :width 800.0000000000001,
                                   :height 1131.3848014513203}
                                  {:x1 95.328125,
                                   :y1 816.765625,
                                   :x2 703.7979125976562,
                                   :y2 832.765625,
                                   :width 800.0000000000001,
                                   :height 1131.3848014513203}
                                  {:x1 95.328125,
                                   :y1 833.859375,
                                   :x2 400.234375,
                                   :y2 849.859375,
                                   :width 800.0000000000001,
                                   :height 1131.3848014513203}),
                          :page 1},
               :content {:text "The use of smart meters has the potential to revolutionize the distribution system by enabling real-time monitoring of system variables and providing a large amount of data to system operators. This abundance of data can be used to overcome the shortcomings of current HC analysis methods by investigating data-driven approaches that can map power flow data to the combined hosting capacity of EVs and PVs. By leveraging historical data, it is possible to estimate the combined hosting capacity without having to calculate power flow [3]. The proposed machine learning approach should consider the spatial-temporal effects of EVPV and capture the correlation between them in determining the combined hosting capacity. A strong background in machine learning, particularly deep learning, and distribution power system analysis is necessary for this research."},
               :properties {:color "yellow"}}
              {:id #uuid "652aed17-dc7c-4e46-8588-989057354eb0",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 78,
                                     :x2 866.0823974609375,
                                     :y2 573.171875,
                                     :width 983,
                                     :height 1390.1890747833095},
                          :rects ({:x1 0,
                                   :y1 78,
                                   :x2 0,
                                   :y2 98,
                                   :width 983,
                                   :height 1390.1890747833095}
                                  {:x1 0,
                                   :y1 94,
                                   :x2 0,
                                   :y2 114,
                                   :width 983,
                                   :height 1390.1890747833095}
                                  {:x1 559.7314453125,
                                   :y1 510.171875,
                                   :x2 866.0823974609375,
                                   :y2 531.171875,
                                   :width 983,
                                   :height 1390.1890747833095}
                                  {:x1 117.125,
                                   :y1 531.171875,
                                   :x2 865.891357421875,
                                   :y2 552.171875,
                                   :width 983,
                                   :height 1390.1890747833095}
                                  {:x1 117.125,
                                   :y1 552.171875,
                                   :x2 647.180419921875,
                                   :y2 573.171875,
                                   :width 983,
                                   :height 1390.1890747833095}),
                          :page 1},
               :content {:text "The HC of combined EV-PV in the distribution system refers to the maximum amount of EVs and PVs that can be integrated into the low-voltage grid without exceeding the system security indices"},
               :properties {:color "red"}}],
 :extra {:page 1}}
