{:highlights [{:id #uuid "654912c0-f442-49d0-873a-cff5a29b5a20",
               :page 13,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 1034,
                                     :y2 581.625,
                                     :width 1033.9999999999998,
                                     :height 581.6249999999999},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 1034,
                                   :y2 0,
                                   :width 1033.9999999999998,
                                   :height 581.6249999999999}
                                  {:x1 58.03125,
                                   :y1 495.578125,
                                   :x2 975.9631958007812,
                                   :y2 517.578125,
                                   :width 1033.9999999999998,
                                   :height 581.6249999999999}
                                  {:x1 0,
                                   :y1 581.625,
                                   :x2 1034,
                                   :y2 581.625,
                                   :width 1033.9999999999998,
                                   :height 581.6249999999999}),
                          :page 13},
               :content {:text "https://electrical.eng.unimelb.edu.au/power-energy/projects/model-free-operating-envelopes"},
               :properties {:color "yellow"}}],
 :extra {:page 40}}
